html {
 	position: relative;
 	height: 100%;
}
body {
 	height: 100%;
 	margin-bottom: 100px;
 	color: orange;
}
.container-fluid {
	height: 100%;
	padding: 0px;
	background: url('../images/maps/dorado.jpg') no-repeat center fixed;
}
#dva-bg {
	background: url('../images/full-portrait.png');
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}
/*navbar*/
.navbar {
	margin-bottom: 0px;
}
.navbar-inverse {
	margin-bottom: 0px;
}
.ow-icon {
	float: left;
}
.header-title {
	color: white;
	width: 100%;
	margin: 0px;
	line-height: 120px;
}
.dva-icon {
	float: right;
	display: inline-block;
}
/*end navbar*/
.static-text {
	font-size: 20px;
}
.random-word {
	margin: 10px;

}
.class_a, .class_b, .class_c, .class_d, .class_e, .class_f, .class_g, .class_h, .class_i, .class_j, .class_k, .class_l, .class_m, .class_n, .class_o, .class_p, .class_q, .class_r, .class_s, .class_t, .class_u, .class_v, .class_w, .class_x, .class_y, .class_z {
  	margin: 5px;
  	width: 10px;
}
/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: pink;
  text-align: center;
  padding: 30px;
}
/*end footer*/